.logo
{
    width: 128px;
}

header > h1{
    float: right;
}
.jumbotron{
    background-color: rgb(183, 117, 245);
}

footer{
    padding: 50px;
    text-align: center;
    background-color: rgb(135, 163, 248) ;
}

.navbar{
    background-color: rgb(234, 218, 250);
}
li{
    margin: 0 74px;
    font-weight: bold;
    font-size: 1.5em;
}