.logo
{
    width: 128px;
}

header > h1{
    float: right;
}
.jumbotron{
    background-color: rgb(183, 117, 245);
}

footer{
    padding: 50px;
    text-align: center;
    background-color: rgb(135, 163, 248) ;
}